
* {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style: none;
}
html, body {
  width: 100%;
  height: 100%;
  position: relative;
}
#loginbox h1{
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.login {
  text-align: center;
  margin-top: -20px;
}
#loginbox label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  margin-right: 10px;
  font-weight: bold;
}
#loginbox button {
  padding: 5px 20px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  margin-top: 20px;
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
  cursor: pointer;
  margin-left: 30px;
}
#loginbox button:hover {
  background-color: #31b0d5;
  border-color: #269abc;
}
#loginbox input {
  display: inline-block;
  width: auto;
  height: 34px;
  margin-top: 30px;
  padding-left: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.usergroup {
  position: absolute;
  width: 130px;
  right: 0;
  top: 10px;
  bottom: 60px;
}
.content .oneself {
  text-align: right;
  font-size: 12px;
  color: #666;
  margin-right: 12px;
}
.user-self {
  color: red;
}
.user-self-disabled {
  cursor: not-allowed;
}
.other-people {
  cursor: pointer;
}
.list-group {
  position: absolute;
  top: 30px;
  left: 0;
  width: 130px;
  height: 100%;
  overflow-y: auto;
}
.usergroup .label-title {
  display: block;
  background: #4CAF50;
  color: #fff;
  font-size: 14px;
  padding: 5px;
  text-align: center;
  border-radius: 4px;
}
.usergroup .icon {
  float: left;
  width: 20px;
  height: 20px;
  float: left;
  background: #71abd9;
  border-radius: 50%;
}
.usergroup .nickname {
  float: left;
  width: 90px;
  margin-left: 5px;
  margin-top: 1px;
  font-size: 13px;
  overflow: hidden;
}
.list-group li {
  width: 100%;
  margin-top: 8px;
  overflow: hidden;
}
.content {
  position: absolute;
  width: calc(100% - 140px);
  bottom: 60px;
  right: 140px;
  top: 10px;
  padding: 15px 0;
  border: 1px solid #eee;
  overflow-y: auto;
}

.list {
  padding: 5px 20px;
  text-align: center;
  overflow: hidden;
  margin-top: 10px;
}
.list:first-child {
  margin-top: 0;
}
.info {
  display: inline-block;
  max-width: 50%;
  color: #f7f7f7;
  line-height: 22px;
  font-size: 12px;
  padding: 3px 10px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.2);
  word-break: break-word;
}

.control {
  position: absolute;
  width: calc(100% - 140px);
  height: 60px;
  bottom: 0;
  right: 140px;
  background-color: #f7f7f7;
}
.control input {
  float: left;
  width: 60%;
  height: 30px;
  margin: 15px 0 0 5%;
  border: 0;
  border-bottom: 1px solid #5cb85c;
  outline: 0;
  background-color: transparent;
  font-size: 14px;
}
.btn-container {
  float: right;
  width: 35%;
  margin-top: 15px;
}
.send-btn, .send-image {
  float: left;
  padding: 6px 12px;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.send-image {
  margin-right: 15px;
  margin-left: 30px;
  background: red !important;
  border: 1px solid red !important;
}
.user-name {
  line-height: 1;
  font-size: 12px;
  color: #666;
  margin-bottom: 3px;
  text-align: left;
}
.section {
  position: relative;
  float: left;
  margin-top: 5px;
  max-width: 50%;
  background-color: #c1ecf2;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 6px;
  line-height: 22px;
  word-break: break-word;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
.section::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-right-color: #c1ecf2;
  left: -16px;
  top: 6px;
}
.section-self::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-left-color: #A8EC6C;
  right: -14px;
  top: 7px;
}
.section-self {
  float: right;
  background-color: #a8ec6c;
}
.section-self::before {
  border: 0;
}